$position: absolute;
$percentage: 100%;
$color: whitesmoke;
$car: auto;

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.btn1{
	position: $position;
	bottom: -30px;
	left: 51.3%;
	z-index: 999;
	background-color: $color;
	border: 1px solid gray;
	color: aqua;
}

#root{
	width: $percentage;
}

body, html {
	height: $percentage;
}

body{
	background-color: $color;
	background-image: url("../images/react1.png");
	background-repeat:no-repeat;
	background-size: $car;
	background-position:center bottom;
	overflow: hidden;
}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: $color;
	padding: 10px;
	grid-gap: 15px;
	width: $percentage;
	grid-template-rows: 30px 25px 98%;
}

.grid-item{
	text-align: center;
	margin-top: 10px !important;
	padding-top: 10px !important;
}

#inner2{
	padding-left: 20px;
	padding-right: 25px;
	border-bottom: 15px solid #d6e9c6;
	padding-bottom: 55px;	
	background-color: #fcf8e3;
	width: $percentage;
	margin-left: $car;
	margin-right: $car;	
	position: $position;
	top: 0px;
	left: 0px;
	height: $percentage;
	min-height: 20%;
	max-height: $percentage;
}

#editor{
	width: $percentage;
	background-color: white;
	resize: none;
	color: #495057;
	border: 1px solid #ced4da;
    border-radius: .25rem;
	overflow-y: $car;
	max-height:$percentage;
	min-height: 40px;
	margin-bottom: 40px;
}

#preview{
	width: 98.9%;
	background-color: white;
	border-radius: .25rem;
	border: 1px solid #ced4da;
	overflow-y: $car;
	max-height:$percentage;
	min-height: 40px;
	margin-bottom: 40px;
}

#item1, #item2{
	font-family: "Russo One" !important;
	font-style: oblique !important;
	font-weight: 700 !important;
	font-size: 2em !important;
	margin-bottom: 10px;
	padding-bottom: 0px;
	width: $percentage;
	background-color: #fcf8e3;
	min-height: 50px;
	border-bottom: none;
	margin-top: 10px !important;
	padding-top: 10px !important;
}

.insignia{
	letter-spacing: 5px;
	-webkit-transition: letter-spacing 1s;
	transition: letter-spacing 1s;
}

.insignia:hover{
	letter-spacing: 13px;
	cursor: pointer;
}

.ui-resizable-s {
    cursor: row-resize;
}

textarea:focus, input:focus{
    outline: none;
}

#arrow{
	background-color: #dff0d8;
	width: $percentage;
	height: 15px;
	position: $position;
	bottom: -12px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1.5em;
	border-bottom: 1px solid #d6e9c6;
	text-align: center;
}

.glyphicon{
	top: -4px;
	left: 4px;
	color: gray;
	-ms-transform: scale(1, 0.6); /* IE 9 */
    -webkit-transform: scale(1, 0.6); /* Safari */
    transform: scale(1, 0.6);
}

#eraser{
	text-align: center;
	grid-column: 1 / 3;
	z-index: 2;
	line-height: 10px;
	margin-left: $car;
	margin-right: $car;
}

/*Additional styling*/

td, th{
	border: 2px solid #224B4B;
    padding-left: 5px;
    padding-right: 5px;
}

.label{
	position : $position; 
	top : -10px;
	left : 0px;
	min-width : $percentage;
	z-index: 999;
}

.preview-editor{
	position : fixed;
	top : 55px;
	left : 0px;
	min-width : $percentage;
	height : $percentage;
	z-index: 999;
}

h1{
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-bottom: 2px solid #224B4B;
}

h2{
	border-bottom: 1px solid #224B4B;
}

code{
	background-color: #d6e9c6;
	color: #e83e8c !important;
}


blockquote{
	border-left: 2px solid black;
	padding-left: 5px;
    margin-left: 25px;
}

@media only screen and (max-width: 768px) {
    img{
		width: 100%;
	}
	
	#ggED{
		text-align: left;
	}

	#ggPrev{
		text-align: right;
	}
	
	.insignia, .insignia:hover{
		letter-spacing: 0px !important;
		font-size: 1em !important;
	}
	
}