@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.btn1{
	position: absolute;
	bottom: -30px;
	left: 51.3%;
	z-index: 999;
	background-color: whitesmoke;
	border: 1px solid gray;
	color: aqua;
}

#root{
	width: 100%;
}

body, html {
	height: 100%;
}

body{
	background-color: whitesmoke;
	background-image: url("react1.png"), url("react2.png");
	background-repeat:no-repeat;
	background-size: auto;
	background-position:center bottom;
	overflow: hidden;
}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: whitesmoke;
	padding: 10px;
	grid-gap: 10px;
	width: 100%;
	grid-template-rows: 30px 25px 98%;
}

#inner2{
	border-bottom: 15px solid #d6e9c6;
	padding-bottom: 55px;	
	background-color: #fcf8e3;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	min-height: 20%;
	max-height: 100%;
}

#editor{
	width: 100%;
	background-color: white;
	resize: none;
	color: #495057;
	border: 1px solid #ced4da;
    border-radius: .25rem;
	overflow-y: auto;
	max-height:100%;
	min-height: 40px;
	margin-bottom: 40px;
}

#preview{
	width: 98.9%;
	background-color: white;
	border-radius: .25rem;
	border: 1px solid #ced4da;
	overflow-y: auto;
	overflow-x: hidden;
	max-height:100%;
	min-height: 40px;
	margin-bottom: 40px;
}

label{
	font-family: 'Russo One';
	font-style: oblique;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 10px;
	padding-bottom: 0px;
	width: 100%;
	background-color: #fcf8e3;
	min-height: 50px;
}

.ui-resizable-s {
    cursor: row-resize;
}

textarea:focus, input:focus{
    outline: none;
}

#arrow{
	background-color: #dff0d8;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: -12px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1.5em;
	border-bottom: 1px solid #d6e9c6;
}

.glyphicon{
	top: -4px;
	left: 4px;
	color: #d6e9c6;
	color: gray;
	-ms-transform: scale(1, 0.6); /* IE 9 */
    -webkit-transform: scale(1, 0.6); /* Safari */
    transform: scale(1, 0.6);
}

#erase{
	grid-column: 1 / span 2;
}

@media screen and (max-height: 600px) {
	#inner2{
		height: 90vh !important;
	}
}

#erase{
	grid-column: 1 / 3;
}