#wrapper{
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
}

#inner1{
	background-color: whitesmoke;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn1{
	position: absolute;
	bottom: -30px;
	left: 51.3%;
	z-index: 999;
	background-color: whitesmoke;
	border: 1px solid gray;
	color: aqua;
}

#root{
	width: 100%;
}

body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: whitesmoke;
  padding: 10px;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

#inner2{
	border-bottom: 3px solid #d6e9c6;
	margin-bottom: 1px;	
	background-color: #fcf8e3;
	height: 99vh;
}

#editor{
	background-color: white;
	height: auto;
	resize: none;
	color: #495057;
	border: 1px solid #ced4da;
    border-radius: .25rem;
	overflow-y: auto;
	max-height: 100%;
}

#preview{
	height: auto;
	background-color: white;
	border-radius: .25rem;
	border: 1px solid #ced4da;
	overflow-y: auto;
	max-height: 100%;
	margin-right: 10px;
}

label{
	font-family: Palatino Linotype;
	font-size: 2em;
	padding-bottom: 0px;
	width: 100%;
	background-color: #fcf8e3;
}

#inner1{
	padding: 0px;
	margin-bottom: -16px;
	grid-gap: 0px;
}

.ui-resizable-s {
    cursor: row-resize;
}

textarea:focus, input:focus{
    outline: none;
}

@media screen and (max-height: 768px) {
	#inner2{
		height: 92vh;
	}
}
